
html,body{
    background-image: url('./img/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    font-family: 'Numans', sans-serif;
    }
    
.files{
    /* float:right; */
    height: 240px;
    width:200px; 
   
    background:rgb(0, 195, 255)
    

}
#chatDisplay{
    height:240px;
    width:500px;
    overflow:auto;
    background:#fff;
    word-wrap: break-word;
    
}

textarea {
    width: 256px;
    height: 30px;
    resize: none;
}
.boton{

}